# Binaries and build artifacts
bin/
.tools/
/gdch-cloud-controller-manager
/cloud-controller-manager-gdch
/gdc-cloud-controller-manager
/cloud-controller-manager-gdc

# Backups and temporary files
*.orig
*.sw[pq]
.DS_Store

# Editor and IDE paraphernalia
.idea
.vscode

# Test and vendor artifacts
vendor
/testlist
e2e/gpctest/test/*-kubeconfig
